<nav class="container-fluid ocultar_celular ">
  <div class="row">
    <div class="col-4"> <a class="nav-link active" aria-current="page" href="#"> <a
          class="navbar-brand   animate__animated animate__jackInTheBox " routerLink="home"><img class="logo p-3 mx-5"
            src="/assets/img/logo.png" width="220" alt=""> </a></a></div>
    <!-- <div class="col-2"></div> -->
    <div class="col-8">
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <div class="flex-container">
            <div class="head-email">
              <div class="d-flex">
                <img src="/assets/feather/mail.svg" class="mb-1" alt="">
                <div class="email-header mt-2">
                  <p>escuelay@yapaydigital.pe</p>
                </div>
              </div>
            </div>
            <div>
              <div class="container-social">
                <a href="https://www.facebook.com/YapayAgenciaDigital" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-facebook">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div>
              <div class="container-social">
                <a href="https://www.facebook.com/YapayAgenciaDigital" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-instagram">
                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                  </svg>
                </a>
              </div>
            </div>
            <div>
              <div class="container-social">
                <a href="https://www.facebook.com/YapayAgenciaDigital" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-youtube">
                    <path
                      d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z">
                    </path>
                    <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon>
                  </svg>
                </a>
              </div>
            </div>
            <div>
              <div class="container-social">
                <a href="https://www.facebook.com/YapayAgenciaDigital" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-linkedin">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                    <rect x="2" y="9" width="4" height="12"></rect>
                    <circle cx="4" cy="4" r="2"></circle>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg_principal  fixed-top aparecer_celular  ">


  <div class="container-fluid">
    <div class="aparecer_celular">

      <a class="navbar-brand    animate__animated animate__jackInTheBox " routerLink="home"><img class="logo mb-2"
          src="/favicon.ico" width="100" alt=""> </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link  mx-3 text-white text-center nav-hover " routerLink="home" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-3 text-white text-center nav-hover" routerLink="cursos">Cursos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  mx-3 text-white text-center nav-hover" routerLink="docentes">Docentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-3 text-white text-center nav-hover" target="_blank"
            href="https://yapaydigital.pe/">Agencia
            digital</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-3 text-white text-center nav-hover" target="_blank"
            href="https://yapaydigital.pe/blog/">Blog</a>
        </li>

      </ul>
      <div class="d-flex justify-content-center" role="search ">
        <div class="input-wrapper" type="submit">
          <input class="form-control me-2" type="search" (keyup.enter)="buscarProducto(txtBuscar.value)"
            placeholder="Busca cursos" aria-label="Search" #txtBuscar>
          <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor"
            (click)="buscarProducto(txtBuscar.value)">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd" />
          </svg>
        </div>

        <!-- <button class="btn btn-outline-light titulo " type="submit" (click)="buscarProducto(txtBuscar.value)"><img
            src="/assets/feather/search.svg" class="mb-1" alt="" srcset=""></button> -->
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg_principal   ocultar_celular  ">


  <div class="container-fluid">
    <div class="aparecer_celular">

      <a class="navbar-brand    animate__animated animate__jackInTheBox " routerLink="home"><img class="logo mb-2"
          src="/favicon.ico" width="100" alt=""> </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link  mx-3 text-white " routerLink="home" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-3 text-white" routerLink="cursos">Cursos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  mx-3 text-white" routerLink="docentes">Docentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-3 text-white" target="_blank" href="https://yapaydigital.pe/">Agencia digital</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-3 text-white" target="_blank" href="https://yapaydigital.pe/blog/">Blog</a>
        </li>

      </ul>
      <div class="d-flex" role="search">
        <div class="input-wrapper" type="submit">
          <input class="form-control me-2" type="search" (keyup.enter)="buscarProducto(txtBuscar.value)"
            placeholder="Busca cursos" aria-label="Search" #txtBuscar>
          <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor"
            (click)="buscarProducto(txtBuscar.value)">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="p-5 aparecer_celular"></div>
