<section *ngIf="coursesService.cursoFiltrado.length < 1; else wrongSearch">
  <div class="p-5 m-5 text-center">
    <img src="/assets/img/llamas/LLAMA-DOCENTE.svg" class="img-fluid animate__animated animate__jackInTheBox "
      width="200" alt="" srcset="">
    <h1>No se encontraron resultados</h1>
    <p>Vuelve a intentarlo </p>
  </div>

</section>
<ng-template #wrongSearch>
  <section>
    <div *ngIf="info.info.categorias?.length ">
      <div class="animate__animated animate__fadeInLeft" *ngFor="let category of info.info.categorias">
        <div *ngIf="category.categoria == termino" class="container">
          <div class="p-2"></div>
          <h4 class="lh-1 mt-5">
            Cursos de <br>

          </h4>
          <h2 class="titulo mb-3">
            {{category.nombre}}
          </h2>
        </div>
      </div>
    </div>
    <div *ngIf="info.info.packs?.length ">
      <div class="animate__animated animate__fadeInLeft" *ngFor="let pack of info.info.packs">
        <div *ngIf="pack.pack == termino">
          <div class="p-2 aparecer_celular"></div>

          <section>
            <section class="packDetalle" [ngStyle]="{'background-image':'url(assets/'+ pack.foto +')'}">

              <section class="">
                <div class="container">
                  <div class="row ">
                    <div class="col-md-6 col-lg-6 col-xl-7">
                    </div>

                    <div class="col-md-6 col-lg-6 col-xl-5 ">
                      <div class="p-3 aparecer_celular "></div>

                      <app-form></app-form>
                    </div>
                  </div>
                </div>
              </section>
            </section>
          </section>
        </div>
      </div>
    </div>
  </section>


  <div class="container">
    <div align="center" class="mt-5" *ngIf="coursesService.cargando">
      <h2 class="mt-5 titulo">Cargando todos los cursos...</h2>
      <i><img src="/favicon.ico" alt="" srcset=""></i>
      <!-- 1 -->
      <div class="loader loader--style1" title="0">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
          xml:space="preserve">
          <path opacity="0.2" fill="#000"
            d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
          <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
        C22.32,8.481,24.301,9.057,26.013,10.047z">
            <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20"
              dur="0.5s" repeatCount="indefinite" />
          </path>
        </svg>
      </div>
      <p class="titulo">Espere por favor</p>

    </div>

    <div class="row ">

      <div class="mt-5 mb-5 d-flex justify-content-center col-xs-12 col-md-6 col-lg-6 "
        *ngFor="let curso of coursesService.cursoFiltrado"><a class="text-decoration-none "
          [routerLink]="['/curso',curso.cod]">


          <div class=" animate__animated animate__fadeInUp shadow-sm">
            <h1 class="card-title text-center mt-1 h4 mb-1  w-100 titulo  ">{{curso.titulo}} </h1>

            <img src="assets/{{curso.url}}" class="card-img-top img_curso" alt="...">
            <div class="card-body">
              <h4 class="card-title text-center mt-1  btn  btn-warning w-100 titulo text-black ">Más información
              </h4>


            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</ng-template>
