/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;

  transition: ease-in-out !important;
  transition-duration: 0.2s !important;
  scroll-behavior: smooth;


}

nav {
  font-size: 18px;
}

.titulo {
  font-weight: 900;
  color: #003842;
}

.bg_principal {
  background-color: #00849D;
}

.bg_secundario {
  background-color: #003842
}


.color_princial {
  color: #00849D;
}

.color_secundario {
  color: #003842
}


.cursoDetalle {
  height: 32em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.packDetalle {
  background-color: #003842;
  height: 32em;
  background-size: 65vw;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;
}

.filter {
  height: 37em;
  background-color: #000000b2;
  border-radius: 0.1em;
}

.texto_curso {
  margin-top: 8em;
  margin-bottom: 2em;
  font-size: 16px;
}

.formulario {
  margin: 2em;
  background-color: #ffffffee;
  padding: 2em;
  border-radius: 0.3em;
  margin-top: 3em;
  margin-bottom: 2em;
}

.text-subtitulo {
  font-size: 1.2em;
}

.aparecer_celular {
  display: none;
}

.contenedor-imagen {
  overflow: hidden;
  height: 300px;
  width: 300px;

}

.docente {
  width: fit-content;
  border-radius: 50%;
}

.img_categoria:hover {
  /* transform: scale(0.92); */
  background-color: #ffc107;
  background: #ffc107;
  filter: brightness(105%);
  transform: scale(1.15);
  /* transition: 0.5s !important; */
}

.img_curso:hover {
  filter: brightness(60%);
  display: block;

}

.categoria_container {
  overflow: hidden;
}

.img_categoria {
  width: 100%;
  /* height: 50%; */
  object-fit: contain;
}


.menu-categorias {
  cursor: pointer;
}

.menu-categorias:hover {
  background-color: #00849D !important;
  color: white;
}

.desaparecer {
  display: none;
}

.menu-categorias {
  padding: 1%;
}

.offcanvas {
  height: 48vh !important;
}



@media only screen and (max-width: 575px) {
  .img_categoria:hover {
    transform: scale(1.01);

  }

  .categoria_container {
    max-height: 200px;
    overflow: hidden;
    object-fit: cover;
  }

  .img_categoria {
    margin-left: 15vw;
    width: 70%;
    height: 90%;
    object-fit: cover;
  }

  .img_pack:hover {
    background-color: #ffc107;
    transform: scale(0.9) !important;
    transition: 0.5s !important;

  }

  .llama-single {
    padding: 1em !important;
  }

  .filter {
    background-color: #00000056;
    height: fit-content;

  }

  .texto_curso {
    margin-top: 1em;
    font-size: 15px;
  }

  .cursoDetalle {
    height: fit-content;
    background-size: 440vw;
  }

  .packDetalle {
    height: fit-content;
    background-size: 500vw;
    background-position: right;
  }

  .text-subtitulo {
    font-size: 13px !important;
  }

  .formulario {
    margin: 1em;
  }

  .logo {
    width: 50px;

  }

  .ocultar_celular {
    display: none !important;
  }

  .aparecer_celular {
    display: block;
  }

  .menu-categorias {
    padding: 1px;
    background-color: white;
    width: 100%;
    margin: 2px;
  }

}

@media only screen and (max-width: 768px) {
  .formulario {
    margin: 1em;
  }

  .llama-single {
    padding: 1em !important;
  }

  .espacio_tablet {
    display: none;
  }

  .head-email {
    display: none
  }

  .aparecer_tablet {
    display: block;
  }

  .ocultar_tablet {
    display: none;
  }

  .packDetalle {
    height: fit-content;
    background-size: 200vw;
    background-position: center;
  }
}
