<div class="bg-secondary p-2">

  <ul class="nav justify-content-end container bg-secondary">
    <!-- <li class="nav-item">
      <a class="nav-link disabled text-white mx-5"> {{info.info.powered}}

      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link disabled text-white mx-5">Copyright © 2020 – Agencia Digital Yapay | Todos los derechos
        reservados.

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled text-white mx-5" aria-current="page" href="#">{{info.info.address}}</a>
    </li>



  </ul>
</div>
